@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}
